.account-list {
  flex: 0 0 68px;
  flex-direction: column;
  background-color: $darkerBlue;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 3px 0;
  
  .account {
    flex: 0 0 32px;
    margin: 5px 0;
    height: 32px;
    width: 32px;
    border: 3px solid transparent;
    border-radius: 50%;
    color: #ffffff;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease;
    
    &:hover {
      cursor: pointer;
      background-color: $hoverBlue;
    }

    &.active {
      border: 2px solid rgba(255, 255, 255, 0.8);
    }
  }
  
  a.account {
    display: block;

    i {
      padding: 0px;
    }
  }

  a.account.add {
    .icon.add {
      background-color: #ffffff;
      margin: 4px;
    }

    border: none;
  }
}
