.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  -webkit-mask-size: cover;
  -webkit-mask-position: 50% %50%;
  -webkit-mask-repeat: no-repeat;

  &.small {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
  }

  &.medium {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }
  
  &.large {
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
  }

  &.send {
    -webkit-mask-image: url('../assets/ionicons/send.svg');
  }
  &.checkmark {
    -webkit-mask-image: url('../assets/ionicons/checkmark.svg');
  }
  &.checkmark-done {
    -webkit-mask-image: url('../assets/ionicons/checkmark-done.svg');
  }
  &.alert {
    -webkit-mask-image: url('../assets/ionicons/alert.svg');
  }
  &.hourglass {
    -webkit-mask-image: url('../assets/ionicons/hourglass.svg');
  }
  &.add {
    -webkit-mask-image: url('../assets/ionicons/add.svg');
  }
}


