.window {
  display: flex;
  height: 100%; 
}

.side-window {
  transition: max-width 0.25s ease-in !important;
  transition: none;
  max-width: 330px;
  width: 330px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  transition: all 1s;
}

.switch-window {
  position: absolute;
  height: 100vh;
}

.panel-left{
  left: 0px
}

.panel-right{
  right: 0px
}

.main-window {
  flex: 1;
}

.closed {
  max-width: 0px;
  transition: none !important;
}