.window {
  display: flex;
  height: 100%; 
}

.side-window {
  max-width: 343px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.switch-window {
  position: absolute;
  height: 100vh;
  transform: translateX(-100%);
}


.panel-left{
  left: 0px
}

.panel-right{
  right: 0px
}

.main-window {
  flex: 1;
}

.in {
  transform: translateX(0px) !important;
  transition: all 0.25s ease-in;
}
