html, body {
  height: 100%;
  margin: 0px;
}

body {
  font-family: "Source Sans Pro";
  font-weight: 400;
}

:focus {
  outline: none;
}


@import "./styles/messages";
@import "./styles/variables";
@import "./styles/icons";
@import "./styles/accounts";
@import "./styles/modal";
@import "./styles/account-create";

// Layout

.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: 100%;
}

.account-header {
  flex: 0 0 50px;
  display: flex;
  width: 300px;
  background-color: $darkBlue;
  border-bottom: 1px solid $lightBlueGray;

  .account-info {
    flex: 1;
    color: #FFFFFF;
    padding: 10px 15px;
  }
}

.sidebar {
  flex: 0 0 60px;
  display: flex;
  background-color: $darkerBlue;
  flex-direction: column;

  .titlebar {
    .titlebar-stoplight .titlebar-close,
    .titlebar-stoplight .titlebar-minimize,
    .titlebar-stoplight .titlebar-fullscreen {
      width: 12px;
      height: 12px;
    }
  }
}

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;

  .chat-header {
    display: flex;
    flex-direction: column;
    flex: 0 0 50px;
    padding: 0px 20px;
    background-color: #fff;
    font-size: 18px;
    border-bottom: 1px solid $gray;
    margin-bottom: 5px;
    align-items: stretch;

    .chat-header-name {
      flex: 1;
      padding: 3px 0;
      font-size: 16px;
      line-height: 24px;
    }
    
    .chat-header-subtitle {
      flex: 1;
      font-size: 14px;
      line-height: 14px;
      font-weight: 300;
    }
  }
}

.chat-bar {
  flex: 0 0 300;
  align-items: stretch;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}


.chats {
  flex: 0 0 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
  background-color: $gray;
  outline: 1px solid $gray;
  border-radius: 4px;
}

.chat-list {
  flex: 1 1 auto;
  width: 100%;
  background-color: $darkBlue;
  color: $lightBlueGray;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 0px;

  .chat-list-item {
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    padding: 0 0 0 15px;

    &:hover {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.8);
      background-color: $hoverBlue;

      .chat-icon {
        background-color: $hoverBlue;
      }
    }

    &.active {
      color: #fff;
      background-color: #0065ff;

      .chat-icon {
        background-color: #0065ff;
      }
      .chat-badge-bubble {
        border: 1px solid #FFFFFF;
      }
    }

    .chat-icon {
      flex: 0 0 32px;
      border-radius: 50%;
      height: 32px;
      width: 32px;
      overflow: hidden;
      margin: 20px 3px 3px 3px;
      background-color: #162743;
      display: flex;
      align-items: stretch;
      transition: background-color 0.3s ease;

      .letter-icon {
        flex: 1;
        padding: 0;
        color: #fff;
      }
      
      img {
        height: 32px;
        object-fit: contain;
      }
    }

    .chat-content {
      display: flex;
      flex: 1;
      flex-direction: column;

      .chat-header {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
        max-width: 200px;
        white-space: nowrap;
        font-weight: 400;
        padding: 10px 15px 0 15px;
      }

      .chat-preview {
        padding: 0 15px 10px 15px;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        white-space: nowrap;
        font-weight: 300;
        font-size: 14px;
      }
    }

    .chat-badge {
      flex: 0 0 35px;
      padding-right: 15px;
      display: flex;
      align-items: center;
      
      .chat-badge-bubble {
        flex: 0 0 20px;
        border-radius: 50%;
        color: #FFF;
        background-color: #0065ff;
        text-align: center;
        font-size: 12px;
      }
    }
  }
}

.login {
  display: flex;
  width: 50%;
  height: 50%;
}

.letter-icon {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
}

